<html>
<head>
    <title>Tree Species</title>
    <style>
    body
        {
        background-image: url("static/images/about.jpeg");
        background-size: cover;
        background-blend-mode: soft-light;
        }
    </style>
</head>


{% extends "layout.html"%}
{% block content %}
    <div class="contenedor2">
        <header>
            <h1>Nombre del proyecto</h1>
        </header>
        
        <div class="descripcion">
            <h3>Descripcion del proyecto</h3>
            <br>
            <p class="text-start">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, esse non voluptas nemo assumenda quidem ratione quod aperiam inventore atque accusantium dolor quia aut tenetur iusto sit dignissimos delectus! Unde.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio eligendi quasi accusamus, explicabo voluptatibus magni consequatur ipsam eveniet illum ad quisquam sequi ea beatae sint rerum nobis dolor recusandae inventore.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. In reiciendis itaque similique quibusdam alias eius magnam quasi, cumque nam, enim illo consectetur quisquam provident cum natus dolore ipsum tenetur error.
            </p>
        </div>
          
            
        <div class="correlation">
            <img src="static/images/correlation.webp" >
        </div>
                
        <div class="mintic">
            <img src="static/images/mintic.webp" >
        </div>
          
    </div>
{% endblock %}
</html>