<html>
<head>
    <title>Tree Species</title>
    <style>
    body
        {
        background-image: url("static/images/contacto.webp");
        background-size: cover;
        background-blend-mode: soft-light;
        }
    </style>
</head>

{% extends "layout.html"%}
{% block content %}
    
    <div class="contenedor6">
        <header>
            <h1>Contactanos</h1>
        </header>

        <div class="info">

            <div class="facebook">
                <a class="text-center textblanco" href="https://es-la.facebook.com/alcaldiaibague/" target="_blank">
                    <img class="mx-2"  src="static/images/face.webp" height="30">
                    Alcaldia de ibagué
                </a>
            </div>
            
            <div class="twitter">
                <a class="text-center textblanco" href="https://twitter.com/Alcaldiaibague" target="_blank">
                    <img class="mx-2"  src="static/images/twitter.webp" height="30">
                    Alcaldia de ibagué
                </a>
            </div>

            <div class="instagram">
                <a class="text-center textblanco" href="https://www.instagram.com/alcaldiadeibague/" target="_blank">
                    <img class="mx-2"  src="static/images/insta.webp" height="30">
                    Alcaldia de ibagué
                </a>
            </div> 

            <div class="web">
                <a class="text-center textblanco" href="https://ibague.gov.co/portal/index.php" target="_blank">
                    <img class="mx-2"  src="static/images/alcaldia.png" height="40">
                    Alcaldia de ibagué
                </a>
            </div>
        </div>    
            
        <div class="formulario">
            <div class="correo">
                <label for="exampleFormControlInput1" class="form-label textblanco">Correo Electronico</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="Observacion">
                <label for="exampleFormControlTextarea1" class="form-label textblanco">Observacion</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>
                  
            <button type="button" class="btn btn-light btn-outline-primary">Enviar</button>
        </div>
        
    </div>
    
{% endblock %}
</html>