<html>
<head>
    <title>Tree Species</title>
    <style>
    body
        {
        background-image: url("static/images/ocobos.jpeg");
        background-size: cover;
        background-blend-mode: soft-light;
        background-position: center;
        }
    </style>
</head>


{% extends "layout.html"%}
{% block content %}
    <div class="contenedor7">
        <header>
            <h1>Cual es el estado de mi Arbol?</h1>
        </header>
        
        <div class="descripcion2">
            <h3>Seleccione las caracteristicas de su Arbol</h3>
        </div>
        

        <div class="formulario2">
            <div class="caracteristicas">
                <label class="c1">Caracteristicas fisicas:</label>  
                <input type="number" class="c2" placeholder="Altura Fuste" >
                <input type="number" class="c3" placeholder="Diametro Normal">
                <label class="c4"><input class="mx-2"  type="checkbox" id="cbox1" value="first_checkbox">Raices Descubiertas</label>
                <label class="c5"><input  class="mx-2" type="checkbox" id="cbox1" value="first_checkbox">Bifurcacion Basal</label>
            </div>



            <div class="presencias">
                <label class="p1">Presencia plagas:</label>
                <label class="p2"><input  class="mx-2" type="checkbox" id="cbox1" value="first_checkbox">Insectos</label>
                <label class="p3"><input  class="mx-2" type="checkbox" id="cbox1" value="first_checkbox">Hongos</label>
                <label class="p4"><input  class="mx-2" type="checkbox" id="cbox1" value="first_checkbox">Agallas</label>
                <label class="p5"><input  class="mx-2" type="checkbox" id="cbox1" value="first_checkbox">Pudricion Localizada</label>
                <label class="p6"><input  class="mx-2" type="checkbox" id="cbox1" value="first_checkbox">Epifitas</label>
                <label class="p7"><input  class="mx-2" type="checkbox" id="cbox1" value="first_checkbox">Especies Parasitas</label>
                <label class="p8"><input  class="mx-2" type="checkbox" id="cbox1" value="first_checkbox">Otros Objetos</label>
            </div>

            <div class="conflictos">
                <label class="con1">Conflictos:</label>
                <label class="con2"><input  class="mx-2" type="checkbox" id="cbox1" value="first_checkbox">Redes Electricas</label>
                <label class="con3"><input  class="mx-2" type="checkbox" id="cbox1" value="first_checkbox">Redes Hidraulicas</label>
                <label class="con4"><input  class="mx-2" type="checkbox" id="cbox1" value="first_checkbox">Redes Alcantarillado</label>
                <label class="con5"><input  class="mx-2" type="checkbox" id="cbox1" value="first_checkbox">Otros Arboles</label>
                <label class="con6"><input  class="mx-2" type="checkbox" id="cbox1" value="first_checkbox">Estructuras</label>
                <label class="con7"><input  class="mx-2" type="checkbox" id="cbox1" value="first_checkbox">Infraestructura Vial</label>
                <label class="con8"><input  class="mx-2" type="checkbox" id="cbox1" value="first_checkbox">Redes telefonicas</label>
                <label class="con9"><input  class="mx-2" type="checkbox" id="cbox1" value="first_checkbox">Redes Gas</label>
                <label class="con10"><input  class="mx-2" type="checkbox" id="cbox1" value="first_checkbox">Alumbrado Publico</label>
            </div>

            <div class="riesgos">
                <label class="r1">Riesgos:</label>
                <label class="r2"><input  class="mx-2" type="checkbox" id="cbox1" value="first_checkbox">Volcamiento</label>
                <label class="r3"><input  class="mx-2" type="checkbox" id="cbox1" value="first_checkbox">Caida Ramas</label>
                <label class="r4"><input  class="mx-2" type="checkbox" id="cbox1" value="first_checkbox">Caida Elementos</label>
            </div>

            <div class="selectores">
                <div class="familia">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Familia</option>
                        <option value="1">Adoxaceae</option>
                        <option value="2">Amaranthaceae</option>
                        <option value="3">Anacardiaceae</option>
                        <option value="4">Annonaceae</option>
                        <option value="5">Apocynaceae</option>
                        <option value="6">Araliaceae</option>
                        <option value="7">Araucariaceae</option>
                        <option value="8">Arecaceae</option>
                        <option value="9">Asparagaceae</option>
                        <option value="10">Asteraceae</option>
                        <option value="11">Basellaceae</option>
                    </select>
                </div>

                <div class="densidad">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Densidad Follaje</option>
                        <option value="1">Denso</option>
                        <option value="2">Medio</option>
                        <option value="3">Ralo</option>
                    </select>
                </div>

                <div class="comuna">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Comuna</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                    </select>
                </div>
                <div class="emplazamiento">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Emplazamiento fisico</option>
                        <option value="1">Alcorque</option>
                        <option value="2">Anden</option>
                        <option value="3">Antejardin</option>
                        <option value="4">Glorieta</option>
                        <option value="5">Parque</option>
                        <option value="6">Separador_vial</option>
                        <option value="7">Zona_blanda</option>
                    </select>
                </div>
            </div>
                  
            <button type="button" class="btn btn-light btn-outline-primary">Modelar</button> 
            <button type="submit" class="btn btn-light btn-outline-success button2">Reestablecer</button>
            
        </div>
          
    </div>
{% endblock %}
</html>