<html>
<head>
    <title>Tree Species</title>
    <style>
    body
        {
        background-image: url("static/images/ocobos.jpeg");
        background-size: cover;
        background-blend-mode: soft-light;
        background-position: center;
        }
    </style>
</head>


{% extends "layout.html"%}
{% block content %}
    <div class="contenedor7">
        <header>
            <h1>Cual es el estado de mi Arbol?</h1>
        </header>
        
        <div class="descripcion2">
            <h3>Seleccione las caracteristicas de su Arbol</h3>
        </div>
        

        <div class="formulario2">
            
            
            <label class="i1"><input  type="checkbox" id="cbox1" value="first_checkbox">Raices Descubiertas?</label>
            <label class="i2"><input  type="checkbox" id="cbox1" value="first_checkbox">Bifurcacion Basal?</label>
            <label class="i3"><input  type="checkbox" id="cbox1" value="first_checkbox">Presencia Insectos?</label>
            <label class="i4"><input  type="checkbox" id="cbox1" value="first_checkbox">Presencia Hongos?</label>
            <label class="i5"><input  type="checkbox" id="cbox1" value="first_checkbox">Presencia Agallas?</label>
            <label class="i6"><input  type="checkbox" id="cbox1" value="first_checkbox">Pudricion Localizada?</label>
            <label class="i7"><input  type="checkbox" id="cbox1" value="first_checkbox">presencia epifitas?</label>
            <label class="i8"><input  type="checkbox" id="cbox1" value="first_checkbox">Presencia especies parasitas?</label>
            <label class="i9"><input  type="checkbox" id="cbox1" value="first_checkbox">Presencia Otros Objetos?</label>
            
            <input type="number" class="c1" placeholder="Altura Fuste" >

            <input type="number" class="c2" placeholder="Diametro Normal">



            <div class="select1">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Familia</option>
                    <option value="1">Adoxaceae</option>
                    <option value="2">Amaranthaceae</option>
                    <option value="3">Anacardiaceae</option>
                    <option value="4">Annonaceae</option>
                    <option value="5">Apocynaceae</option>
                    <option value="6">Araliaceae</option>
                    <option value="7">Araucariaceae</option>
                    <option value="8">Arecaceae</option>
                    <option value="9">Asparagaceae</option>
                    <option value="10">Asteraceae</option>
                    <option value="11">Basellaceae</option>
                </select>
            </div>

            <div class="select2">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Densidad Follaje</option>
                    <option value="1">Denso</option>
                    <option value="2">Medio</option>
                    <option value="3">Ralo</option>
                </select>
            </div>
            <div class="select3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Especie (Nombre Comun)</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="select4">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Estado Sanitario</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
                  
            <button type="button" class="btn btn-light btn-outline-primary">Estado</button> 
            <button type="submit" class="btn btn-light btn-outline-success button2">Reestablecer</button>
            
        </div>
          
    </div>
{% endblock %}
</html>