<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tree Species</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light  nav">
        <div class="container-fluid">
            <a class="navbar-brand mx-2" href="/"><img class="center" src="static/images/arbol.png" height="30"></a>
            <button class="navbar-toggler mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link mx-3" href="{{url_for('about')}}"><img class="center  blanco" src="static/images/info.png" height="30"></a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="{{url_for('dash')}}"><img class="center blanco" src="static/images/app.png" height="30"></a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="{{url_for('trees')}}"><img class="center blanco" src="static/images/arbol2.png" height="35"></a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="{{url_for('team')}}"><img class="center blanco" src="static/images/equipo.png" height="30"></a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="{{url_for('contact')}}"><img class="center blanco" src="static/images/mail.png" height="25"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}


</body>

</html>