{% extends "layout.html"%}
{% block content %}
    <div class="container col-12">
        <br>
        <div class="row text-center">
            <h1>Equipo</h1>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-2">
                <img class="center foto" src="static/images/eduard.webp" height="100">
                <div class="text-center">
                    <br>
                    <h3>Eduard Molano</h3>
                    <h3>Ing. Electrónico</h3>
                </div>
            </div>
            <div class="col-2 ">
                <img class="center foto" src="static/images/leo.png" height="100">
                <div class="text-center">
                    <br>
                    <h3>Leonardo Pérez</h3>
                    <h3>Ing. Electromecanico</h3>
                </div>
            </div>
            <div class="col-2">
                <img class="center foto" src="static/images/daniel.jpeg" height="100">
                <div class="text-center">
                    <br>
                    <h3>Daniel Ruiz</h3>
                    <h3>Ing. Civil</h3>
                </div>
            </div>
            <div class="col-2">
                <img class="center foto" src="static/images/luisa.jpeg" height="100">
                <div class="text-center">
                    <br>
                    <h3>Luisa de la Hortua</h3>
                    <h3>Estadística</h3>
                </div>
            </div>
            <div class="col-2">
                <img class="center imgRedonda " src="static/images/stiven.jpeg" height="100">
                <div class="text-center">
                    <br>
                    <h3>Stiven Cabrera</h3>
                    <h3>Est. Ing. Biológica</h3>
                </div>
            </div>
            <div class="col-2">
                <img class="center foto" src="static/images/juan.jpeg" height="100">
                <div class="text-center">
                    <br>
                    <h3>Juan Bautista</h3>
                    <h3>Ing. Sistemas</h3>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
