<html>
<head>
    <title>Tree Species</title>
    <style>
    body
        {
        background-image: url("static/images/arboles.webp");
        background-size: cover;
        background-blend-mode: soft-light;
        }
    </style>
</head>

{% extends "layout.html"%}
{% block content %}
    <div class="container col-12">
        <br>
        <div class="row">
            <div class="col-7">
                <div class="row">
                    <h1>¿Como estan los arboles en Ibague?</h1>
                </div>
                <br>
                <div class="row">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae, deserunt laudantium excepturi aliquid nostrum nemo laboriosam asperiores reprehenderit maxime harum atque iste at incidunt? Cumque dolor mollitia alias distinctio debitis!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur inventore necessitatibus odit voluptates debitis esse deserunt ex cupiditate. Dolorum quae deleniti nihil perferendis laborum eos pariatur voluptatum mollitia aliquid ex.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quo, dolor quae nemo doloribus animi aspernatur magni ad iusto recusandae quam debitis aliquam ut corrupti vel temporibus? A, repellendus recusandae.
                    </p>
                </div>
            </div>
            <div class="col-2">

            </div>
            <div class="col-3">
                <br>
                <div class="row">
                    <img src="static/images/bar1.png">
                </div>
                <br>
                <div class="row">
                    <img src="static/images/bar2.png">
                </div>
            </div>
        </div>    
    </div>
{% endblock %}

</html>
