* {
  margin: 0;
  padding: 0;  
}

body{
    background-color: #154335fb;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

/*estilos index*/

.contenedor {
    width: 95%;
    height: 100%;
    margin: 10px auto;
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,auto);
}

.contenedor header {
    height: 150px;
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor main {
    height: 400px;
    grid-column-start: 1;
    grid-column-end: -1;
}

.contenido {    
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1em;
}    

.contenido > div{
    padding: 1em;
}

.widget1 {
    align-self: center;
    text-align: center;
}

.widget2 {
    align-self: center;
    text-align: center;
}

.widget3 {
    align-self: center;
    text-align: center;
}

.widget4 {
    align-self: center;
    text-align: center;
}

.widget5 {
    align-self: center;
    text-align: center;
}

/*estilos about*/
.contenedor2 {
    width: 95%;
    margin: 10px auto;
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
}

.contenedor2 header {
    height: 150px;
    grid-column: 1/4;
    display: flex;
    align-items: center;
    margin: 10px;
}

.contenedor2 .descripcion {
    grid-column: 1/4;
    grid-row: 2/4;
    margin: 10px;
}

.descripcion > div{
    padding: 1em;
}

.correlation {
    grid-column: 5;
    grid-row: 2;
    align-self: center;
    text-align: center;
    filter: invert(1) sepia(1) hue-rotate(170deg) saturate(1000%);
}

.mintic {
    grid-column: 5;
    grid-row: 3;
    align-self: center;
    text-align: center;
}

/*estilos app*/

.contenedor3 {
    width: 90%;
    margin: 20px auto;
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(5,auto);
}

.contenedor3 header {
    height: 150px;
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor3 .filtros {
    grid-column: 1/2;
    grid-row: 2/6;
}

.map {
    grid-column: 2/7;
    grid-row: 2/6;
    display: flex;
    align-self: center;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.dash1 {
    grid-column: 7;
    grid-row: 2/4;
    align-self: center;
    text-align: center;
}

.dash2 {
    grid-column: 7;
    grid-row: 4/6;
    align-self: center;
    text-align: center;
}

.filtros {
    display:grid;
    grid-template-rows: repeat(7,1fr);
}    

.filtros > div{
    padding: 1em;
}

.label1 {
    grid-row: 1;
    align-self: center;
    text-align: center;
}

.label2 {
    grid-row: 2;
    align-self: center;
    text-align: center;
}

.select1 {
    grid-row: 3;
    align-self: center;
    text-align: center;
}

.label3 {
    grid-row: 4;
    align-self: center;
}

.select2 {
    grid-row: 5;
    align-self: center;
    text-align: center;
}

.select3 {
    grid-row: 6;
    align-self: center;
    text-align: center;
}

.select4 {
    grid-row: 7;
    align-self: center;
    text-align: center;
}

/*estilos arboles*/

.contenedor4 {
    width: 90%;
    margin: 20px auto;
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,auto);
}

.contenedor4 header {
    height: 150px;
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor4 .main2 {
    height: 500px;
    grid-column: 1/3;
    grid-row: 2/7;
}

.dash3 {
    grid-column: 4;
    grid-row: 2/4 ;
    align-self: center;
    text-align: center;
}

.dash4 {
    grid-column: 4;
    grid-row: 5/7;
    align-self: center;
    text-align: center;
}

/*estilos equipo*/

.contenedor5 {
    width: 95%;
    margin: 10px auto;
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,auto);
}

.contenedor5 header {
    height: 150px;
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor5 main {
    height: 400px;
    grid-column-start: 1;
    grid-column-end: -1;
}

.contenido5 {    
    display:grid;
    grid-template-columns: repeat(6,1fr);
    gap: 1em;
}    

.contenido > div{
    padding: 1em;
}

.foto1 {
    align-self: center;
    text-align: center;
}

.foto2 {
    align-self: center;
    text-align: center;
}

.foto3 {
    align-self: center;
    text-align: center;
}

.foto4 {
    align-self: center;
    text-align: center;
}

.foto5 {
    align-self: center;
    text-align: center;
}

.foto6 {
    align-self: center;
    text-align: center;
}

/*estilos contacto*/

.contenedor6 {
    width: 90%;
    margin: 10px auto;
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(4,auto);
}

.contenedor6 header {
    height: 150px;
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor6 .info {
    grid-column: 1/4;
    grid-row: 2/5;
}

.formulario {
    grid-column: 6/9;
    grid-row: 2/5;
}

.info {
    display:grid;
    grid-template-rows: repeat(4,1fr);
}    

.info > div{
    padding: 1em;
}

.formulario {
    display:grid;
    grid-template-rows: repeat(4,1fr);
}    

.formulario > div{
    padding: 1em;
}

.facebook {
    grid-row: 1;
    align-self: center;
    text-align: center;
}

.twitter {
    grid-row: 2;
    align-self: center;
    text-align: center;
}

.instagram {
    grid-row: 3;
    align-self: center;
    text-align: center;
}

.web {
    grid-row: 4;
    align-self: center;
    text-align: center;
}

.correo {
    grid-row: 1;
    align-self: center;
}

.Observacion {
    grid-row: 2/4;
    align-self: center;
}

.formulario button {
    grid-row: 4;
    align-self: start;
    width: 100px;
    padding: 10px;
    margin: 20px;
}

/*otros estilos*/

.card-body {
    background-color: black;
    border-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: black;
    border-color: black;
    border-radius: 20px;
    width: 1000px; 
    height: auto"
}

/*Estilos estado*/

.contenedor7 {
    width: 90%;
    margin: 10px auto;
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(4,auto);
}

.contenedor7 header {
    height: 150px;
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.descripcion2 {
    grid-column: 1/3;
    grid-row: 2;
    margin: 10px;
}

.formulario2 {
    grid-column: 1/3;
    grid-row: 3/5;
}

.formulario2 {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
}    

.formulario2 > div{
    padding: 1em;
}

.formulario2 button {
    grid-row: 5;
    grid-column: 1;
    align-self: start;
    width: 100px;
    padding: 10px;
    margin: 20px;
}

.formulario2 .button2 {
    grid-row: 5;
    grid-column: 2;
    align-self: start;
    width: 120px;
    padding: 10px;
    margin: 20px;
}


.formulario2 .select1 {
    grid-row: 1;
    grid-column: 1/3;
    align-self: center;
    text-align: center;
}

.formulario2 .select2 {
    grid-row: 2;
    grid-column: 1/3;
    align-self: center;
    text-align: center;
}

.formulario2 .select3 {
    grid-row: 3;
    grid-column: 1/3;
    align-self: center;
    text-align: center;
}

.formulario2 .select4 {
    grid-row: 4;
    grid-column: 1/3;
    align-self: center;
    text-align: center;
}



h1{
    font-size: 2.5em;
    font-weight: 150;
}

h2{
    font-size: 1.5em;
    font-weight: 150;
}

h3{
    font-size: 1.2em;
    font-weight: 150;
}

p{
    font-size: 1em;
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    display: block;
}

.container-img{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    align-items: center;
    display: flex;
}

.celda{
    align-content: "center";
}

li a:hover:not(.active) {
    background-color: rgb(90, 199, 211);
    border-radius: 10px;
}

.active {
    background-color: blueviolet;
    border-radius: 10px;
}

.borde{
    border: 1px rgb(9, 44, 97) solid;
    
}

.foto{
    border-radius: 50%;
}

.clip{
    clip-path: inset(0px 15px);
}

.clip > img{
    border-radius: 50px;
}

.imgRedonda {
    width:100px;
    height:100px;
    border-radius:50%;
}

.blanco {
    filter: invert(1) sepia(1) hue-rotate(180deg) saturate(1000%);
}

.nav{
    background-color: black;
}

.imgSize {
    width:20%;
    height:20%;
}

.textblanco{
        color: white;    
}

.osc{
    opacity: 0.2;
}