body{
    background-color: #53bf9efb;
}
h1{
    color: #fff;
    font-size: 2.5em;
}

h2{
    color: #fff;
    font-size: 1.5em;
}

h3{
    color: #fff;
    font-size: 1.2em;
}

p{
    color: #fff;
    font-size: 1em;
}